<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ashutosh Resume</title>
        <link rel="stylesheet" href="css/styles.css">
        <!-- Bootstrap CDN -->
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <!-- Font Awesome CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- TypeJS script -->
        <script src="https://cdn.tutorialjinni.com/typed.js/2.0.11/typed.js"></script>
    </head>
    <body onload="loader()">
        <div id="loading"></div>
        <!-- HEADER -->
        <section id="header">
            <div class="container text-center">
                <div class="user-box">
                    <img src="../img/ashutosh-bg.jpg" alt="Ashutosh"> 
                    <h1>Ashutosh Srivastava</h1>
                    <h2>I'm a passionate <span class="type"></span></h2>
                </div>
            </div>
            <div class="scroll-btn">
                <div class="scroll-bar">
                    <a href="#about">
                        <span></span>
                    </a>
                </div>
            </div>
        </section>
        
        <!-- INFORMATION -->
        <section id="info">
            <div class="nav-bar">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#top">
                        <div class="logo">
                            <h1>Ashutosh Srivastava</h1>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#top">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">RESUME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#certifications">CERTIFICATES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">CONTACT</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>

            <!-- ABOUT -->
            <div class="about container" id="about">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="../img/ashutosh.jpg" class="profile-img">
                    </div>
                    <div class="col-md-6">
                        <h3>ABOUT ME</h3>
                        <p>
                            An inquisitive, energetic and upfront fresher seeking to leverage development skills 
                            with a focus on desire to learn from each and every aspect of this minute sphere of 
                            abundant knowledge. 
                            I want to work with an organization that can give me ample opportunities to grow so 
                            that I'm able to help in the growth of that organization and will be able to 
                            enhance my skills and my capabilities.
                        </p>
                        <h3>Skills & Tools</h3>
                        <div class="skills-bar">
                            <p>Python3</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 85%;" >80%</div>
                            </div>
                            <p>Java</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 75%;">75%</div>
                            </div>
                            <p>NodeJS</p>
                            <div class="progress">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 70%;">70%</div>
                            </div>
                            <p>VueJS</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 80%;">80%</div>
                            </div>
                            <p>Mule4 ESB</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 60%;">60%</div>
                            </div>
                            <p>Confluent</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 60%;">60%</div>
                            </div>
                            <p>MongoDB</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 80%;">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- SOCIAL ICONS -->
            <div class="social-icons">
                <ul>
                    <a href="https://www.linkedin.com/in/ashutosh-srivastava-65000/">
                        <li>
                            <i class="fa fa-linkedin"></i>
                        </li>
                    </a>
                    <a href="https://github.com/Ashutosh-Srivastava">
                        <li>
                            <i class="fa fa-github"></i>
                        </li>
                    </a>
                    <a href="https://www.facebook.com/ashutosh65000">
                        <li>
                            <i class="fa fa-facebook"></i>
                        </li>
                    </a>
                    <a href="https://www.instagram.com/ash_650/">
                        <li>
                            <i class="fa fa-instagram"></i>
                        </li>
                    </a>
                </ul>
            </div>

            <!-- RESUME -->
            <div class="resume" id="resume">
                <div class="container">
                    <div class="row">
                        <!-- Work Experience -->
                        <div class="col-md-6">
                            <h3 class="text-center">My Experiences</h3>
                            <ul class="timeline">
                                <li>
                                    <h4><span>Jan, 2020 - current </span>Trainee Engineer</h4>
                                    <p>
                                        Worked in Enterprise Integration Practice with MuleSoft4, Confluent 
                                        Platform, Spring-Boot, XML/XSD, Java8.<br>
                                        <b>Company</b> - TEKSystems<br>
                                        <b>Duration</b> - Ongoing(7 months)<br>
                                        <b>Location</b> - Hyderabad<br>
                                    </p>
                                </li>
                                <li>
                                    <h4><span>Aug, 2019 - Oct, 2019</span> Code Provider</h4>
                                    <p>
                                        I was assigned with the task to provide code in python3 for the questions 
                                        provided by them along with simple explanation.<br>
                                        <b>Company</b> - Codespeedy Pvt. Ltd<br>
                                        <b>Duration</b> - 2 months<br>
                                        <b>Location</b> - Greater Noida<br>
                                    </p>
                                </li>
                                <li>
                                    <h4><span>Feb, 2019 - Aug, 2019</span>Trainee Engineer</h4>
                                    <p>
                                        Trained in the field of Big Data and Hadoop and made a project on Sentiment
                                         analysis of Twitter Data.<br>
                                        <b>Company</b> - Codespeedy Pvt. Ltd<br>
                                        <b>Duration</b> - 6 months<br>
                                        <b>Location</b> - Greater Noida<br>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- Education  -->
                        <div class="col-md-6">
                            <h3 class="text-center">My Education</h3>
                            <ul class="timeline">
                                <li>
                                    <h4><span>2016 - 2020 </span>Bachelor Of Technology</h4>
                                    <p>
                                        <b>Institue</b> - Galgotias University<br>
                                        <b>Aggregate</b> - 8.81 CGPA <br>
                                        <b>Stream</b> - Computer Science and Engineering<br>
                                    </p>
                                </li>
                                <li>
                                    <h4><span>2015 - 2016</span> Intermediate (SSC)</h4>
                                    <p>
                                        <b>Institue</b> - City Montessori School LDA Campus<br>
                                        <b>Aggregate</b> - 92.75% <br>
                                        <b>Stream</b> - PCM wth Computer Science<br>
                                        <b>Board</b> - ISC<br>
                                    </p>
                                </li>
                                <li>
                                    <h4><span>2013 - 2014</span> Intermediate (HSC)</h4>
                                    <p>
                                        <b>Institue</b> - City Montessori School LDA Campus<br>
                                        <b>Aggregate</b> - 91.00% <br>
                                        <b>Stream</b> - Science with Computer's<br>
                                        <b>Board</b> - ICSE<br>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CERTIFICATE -->
            <div class="certifications" id="certifications">
                <div class="container">
                    <h1 class="text-center">My Certifications</h1>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="certificate-box">
                                <i class="fa fa-certificate"></i><span>Infytq Software Programmer</span>
                                <p>
                                    An online test by the Infosys consisting of Python coding and  MCQ's on 
                                    MongoDB NoSQL Database.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="certificate-box">
                                <i class="fa fa-certificate"></i><span>Hackerrank Rest API</span>
                                <p>
                                    It covers topics like getting data from an API and process using parameters 
                                    or paging.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="certificate-box">
                                <i class="fa fa-certificate"></i><span>NIIT Java Advance</span>
                                <p>
                                    An online test by the Infosys on Infytq Platform consisting of Python coding and  
                                    MCQ's on MongoDB NoSQL Database.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="certificate-box">
                                <i class="fa fa-certificate"></i><span>PCAP: Python3.x</span>
                                <p>
                                    Cisco Networking Academy Self-Paced Course on Python3 by OpenEDG Python Insitute.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="certificate-box">
                                <i class="fa fa-certificate"></i><span>Zonal Coordinator</span>
                                <p>
                                    Certificate of Appreciation from IIT-Roorkee during EXPANSE-2019 for Zonal 
                                    Coordinator.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="certificate-box">
                                <i class="fa fa-certificate"></i><span>Big Data Training</span>
                                <p>
                                    Certificate of Training from KCVH for Big data and Hadoop and project on 
                                    Sentiment Analysis of Twitter Data.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="certificate-box">
                                <i class="fa fa-certificate"></i><span>BSNL Internship</span>
                                <p>
                                    A detailed description on the technologies studied and used during the training 
                                    in Regional Telecom and Training Center.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CONTACT -->
            <div class="contact" id="contact">
                <div class="container text-center">
                    <h1>Contact Me</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-phone"></i>
                            <p>(+91) 7839457230, 9958732904</p>
                        </div>
                        <div class="col-md-4">
                            <a href="mailto:ashutosh65000@outlook.com">
                                <i class="fa fa-envelope"></i>
                                <p>ashutosh65000<wbr>@outlook.com</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker"></i>
                            <p>Lucknow, Uttar Pradesh</p>
                        </div>
                    </div>
                    <a href="../file/resume.pdf" download>
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-download"></i>
                            Resume
                        </button>
                    </a>
                </div>
                <div class="footer text-center">
                    <p>
                        <i class="fa fa-pencil"></i> Designed by Ashutosh

                    </p>
                </div>
            </div>
        </section>

        <!-- SMOOTH SCROLL -->
        <script src="../js/smooth-scroll.js"></script>
        <script>
            const scroll=new SmoothScroll('a[href*="#"]');
        </script>
        <!-- TYPE SCRIPT -->
        <script>
            var typed = new Typed('.type', {
                strings: [
                    'Web Developer.', 
                    'Integration Engineer.',
                    'Sketcher.'
                ],
                typeSpeed:60,
                backSpeed:60,
                loop:true
            });
        </script>
        <!-- PRE LOADER -->
        <script src="../js/pre-loading.js"></script>
    </body>
</html>